.advice__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-grey-blue);
    border-radius: 10px;
    max-width: 550px;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.advice__number {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--neon-green);
}

.advice__main-text {
    font-size: 1.3rem;
    max-width: 400px;
}

.advice__divider {
    margin-bottom: 2.5rem;
}

button {
    position: absolute;
    bottom: -1.5rem;
    background-color: transparent;
    border: none;
}
.advice__die {
    background-color: var(--neon-green);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.waiting {
    animation: spinner 2s linear infinite;
}

.waiting:hover {
    box-shadow: 0 0 0 0 black !important;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (hover: hover) {
    .advice__die:hover {
        box-shadow: 0 0 3rem 2px var(--neon-green);
    }
}
